<!DOCTYPE html>
<head>
  <title> Ontologie de nutrition</title>
  <meta charset="utf-8">
</head>

<body>
  <app-nav></app-nav>
  <div class="contenu">
    Recherche ...<br><br>
  <input type="text" name="recherche" value="Entrer le nom d'un aliment" 
  onfocus="if(this.value=='Entrer le nom d\'un aliment')this.value='';"
  onblur="if(this.value=='')this.value='Entrer le nom d\'un aliment';"/>

  <button class="recherche" type="button" onclick="alert('Hello World!')">Rechercher</button> <br>

  <a>Ajouter une connaisance</a> <br>

  <a>Valider une connaissance</a> <br>

  <a>Exécuter une requête</a> <br> <br>

  </div>

  <div class="resultat">
    <app-resultat></app-resultat>
  </div>
</body>